src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="53b12ae6-27d8-49dd-8140-51b95c5a14b6" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="getAccounts" doc:id="db9e4739-bc11-46da-b63c-fe41388ebc1b" >
		<db:select doc:name="Select" doc:id="346740a2-ae4a-4e70-90d1-e9cc7f04383c" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from flights_customers where accountType=:accountType]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'accountType': vars.setType}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="539d628c-2381-46ae-9e03-c753adb9aa87" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
fun split(data)=data splitBy(" ")
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.accountID default "",
	firstName: split(payload01.name)[0],
	lastName: split(payload01.name)[1],
	address: (payload01.street default "") ++ (payload01.city default "") ++ (payload01.state default ""),
	postal: payload01.postal default "",
	country: payload01.country default "",
	creationDate: payload01.creationDate as String default "",
	accountType: payload01.accountType default "",
	miles: payload01.miles default 0
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="89fe18c4-cc2a-4eb2-90cf-798bd54e2d29" />
	</flow>
	<flow name="getAccountByID" doc:id="07e03653-1d43-471c-985c-1dbc157a9414" >
		<db:select doc:name="Select" doc:id="f2ffe904-8e55-49ad-969b-7f193a7998de" config-ref="Database_Config">
			<db:sql ><![CDATA[select  *  from flights_customers where accountID =:ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'ID': vars.setID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="00cae6ee-7489-44b1-8800-285487e80a14" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
fun split(data)=data splitBy(" ")
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.accountID default "",
	firstName: split(payload01.name)[0],
	lastName: split(payload01.name)[1],
	address: (payload01.street default "") ++ (payload01.city default "") ++ (payload01.state default ""),
	postal: payload01.postal default "",
	country: payload01.country default "",
	creationDate: payload01.creationDate as String default "",
	accountType: payload01.accountType default "",
	miles: payload01.miles default 0
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="601c4cd8-dd4e-4bcf-b434-fe2a37bc9cd3" />
	</flow>
</mule>
